.App {
  text-align: center;
}
.logo a{
  color: white;
  font-size: 40px;
  
}
.panier h5{
    background-color: aliceblue;height: 24px;
    width: 20px;border-radius: 3px;text-align: center;margin-top: 20px;
   
}
.panier{
  display: flex;flex-direction: row;gap: 10px;
}
.user{
  display: flex;flex-direction: row;gap: 10px;
  color: white;
}
.user p{
  margin-top: 10px;
}
.user img{
 width: 40px;
 height: 40px;
}
a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.navbar-nav{
  display: flex;gap: 40px;
}
/* Menu */
.menu {

  display: flex; flex-direction: column; align-items: center;margin-top: 50px;
}
.card img{
  width: 20vh;
  height: 20vh;
}
.card {
 display: flex; flex-direction: row;
 width: 80vh;
}
.card-body{
  display: flex; flex-direction: row;justify-content: space-between;
}
.nom{
  display: flex; flex-direction: column;
  margin-top: 50px;
  align-items: start;
}
.card-body a{
  height: 50px;
  margin-top: 50px;
}